<h2 style="text-align: center">Elettroencefalogramma - EEG</h2>
<p>
    Dottori abilitati: Carlos Neri, Mario Rossi, Christian Radicchi
    <br /> Primari per lettura del referto: Lara Giovanni, Maurice Calzolari, Alice Sleeply
</p>
<h3>Descrizione</h3>
<p>
    L'elettroencefalogramma è la registrazione, del tutto sicura e indolore, dell'attività elettrica del cervello e di altre parti dell'encefalo. L'elettroencefalogramma è una registrazione dell'attività elettrica dell'encefalo, che viene riprodotta graficamente
    in un tracciato contraddistinto da diversi tratti denominati onde. <br /> Per essere ottenuto, l'elettroencefalogramma richiede l'applicazione di piccoli elettrodi sulla testa, collegati a un elettroencefalografo (strumento elettronico sofisticato,
    capace di creare un tracciato dei segnali encefalici registrati).
    <br /> L'esame con cui si ottiene la rappresentazione grafica dell'attività elettrica cerebrale è chiamato elettroencefalografia (EEG).
</p>
<h3>Funzionamento</h3>
<p>
    Il paziente viene fatto accomodare su una poltrona o lettino per favorire il rilassamento e vengono applicati gli elettrodi. L’esame viene effettuato dopo una privazione di sonno nei casi in cui si presentino eventuali anomalie di dubbia interpretazione
    che richiedono un esame diagnostico. La registrazione degli impulsi elettrici prodotti dall’attività del cervello avviene mediante degli elettrodi appoggiati sul cuoio capelluto e tenuti fissi da una cuffia elastica. All’interno degli elettrodi, attraverso
    una siringa con un ago senza punta, viene iniettata una piccola quantità di gel per assicurare una buona conduzione elettrica. È obbligatorio rimanere rilassati e fermi per ottimizzare la registrazione del segnale elettrico cerebrale e ridurre gli
    artefatti di origine muscolare e da movimento.
</p>
<h3>Durata</h3>
<p>
    Dura in genere un'ora, ma se viene svolta mentre il paziente dorme può protrarsi anche per più di 3 ore.
</p>
<h3>Preparazione</h3>
L'elettroencefalografia non richiede una preparazione particolare. Infatti, è sufficiente che il paziente abbia cura di:
<ul>
    <li>
        La sera che precede l'esame, lavarsi accuratamente i capelli e la testa, evitando da quel momento in poi di applicare gel, spray o lozioni per il cuoio capelluto. Tale raccomandazione, da osservarsi fino al termine dell'esame, si deve al fatto che l'uso
        di certi prodotti può rendere più difficile l'applicazione degli elettrodi.
    </li>
    <li>
        Nel giorno dell'esame, evitare di assumere bevande a base di caffeina, in quanto quest'ultima altera i risultati della procedura.
    </li>
</ul>
<h3>Effetti collaterali</h3>
<p>
    L'elettroencefalogramma (EEG) è indolore e, generalmente, molto sicuro. Nessuna scarica elettrica è immessa nel corpo durante l'esecuzione dell'esame. <br /> L'unico disagio può essere rappresentato dai capelli che, al termine dell'esame, risulteranno
    sporchi e disordinati e da una leggera stanchezza. Per queste caratteristiche l'esame può essere eseguito anche nelle donne in stato di gravidanza. <br /> Alla fine della procedura potrebbero verificarsi uno stato di leggera confusione e un formicolio
    alle labbra e alle dita durante la parte di iperventilazione dell'EEG di base. Inoltre, alcune persone potrebbero avere una leggera eruzione cutanea sul cuoio capelluto nei punti in cui sono stati applicati gli elettrodi. <br /> In caso di epilessia,
    o in persone che soffrono di convulsioni, c'è un rischio molto piccolo che possa verificarsi una crisi epilettica durante l'esecuzione dell'EEG. In questo caso le persone saranno aiutate e monitorate da personale altamente qualificato.
</p>