<h2>Avvisi</h2>

<h3>Sospensione analisi del sangue - 06/09/2021</h3>
<p>
    A causa di problemi nel reperimento di materiale sensibile nella settimana che parte da lunedì 06/09/2021 saranno sospese le analisi del sangue su ricetta.
</p>
<h3>Chiusura sportello pagamento - 03/09/2021</h3>
<p>
    Il giorno venerdì 03/09/2021 lo sportello in cui è possibile effettuare pagamenti non sarà operativo
</p>