<h2 style="text-align: center">Risonanza magnetica</h2>
<p>
    Dottori abilitati: Marco Menghi, Lorenzo Stani, Laura Rinucci
    <br /> Primari per lettura del referto: Miriam Notti, Susan Torini, Massimo Civinno
</p>
<h3>Descrizione</h3>
<p>
    L'imaging a risonanza magnetica (Magnetic Resonance Imaging, MRI), detto anche tomografia a risonanza magnetica (Magnetic Resonance Tomography, MRT) o risonanza magnetica tomografica (RMT), oppure semplicemente RM, è una tecnica di generazione di immagini
    usata prevalentemente a scopi diagnostici in campo medico, basata sul principio fisico della risonanza magnetica nucleare. <br /> L'RM non è dannosa nei confronti del paziente, e quest'ultimo non è sottoposto a radiazioni ionizzanti come nel caso
    delle tecniche facenti uso di raggi X o di isotopi radioattivi. Le informazioni date dalle immagini di risonanza magnetica sono essenzialmente di natura diversa rispetto a quelle degli altri metodi di imaging, infatti è possibile la discriminazione
    tra tessuti sulla base della loro composizione biochimica, inoltre si hanno immagini delle sezioni corporee su tre piani diversi (assiale, coronale, sagittale), il che però non le conferisce la tridimensionalità.
</p>
<h3>Funzionamento</h3>
<p>
    La risonanza magnetica sfrutta le potenzialità di una grande magnete, per produrre una serie di campi magnetici atti a modificare l'orientamento degli atomi di idrogeno presenti nelle singole cellule del distretto anatomico di interesse (es: tratto lombo-sacrale
    della schiena).
    <br /> A modifica avvenuta, seguono la disattivazione del suddetto magnete e il conseguente ripristino, da parte degli atomi di idrogeno dell'area sotto osservazione, del loro orientamento originale; questo secondo evento è fondamentale ai fini della
    procedura: quando ripristinano l'orientamento originale, gli atomi di idrogeno del distretto anatomico indagato emettono un'energia che il macchinario per la risonanza magnetica capta attraverso appositi rilevatori e utilizza, in un momento immediatamente
    successivo per creare le immagini diagnostiche (i rilevatori trasmettono il segnale energetico a un computer, il quale si occupa della sua traduzione in immagini tridimensionali).
</p>
<h3>Durata</h3>
<p>
    La durata di una risonanza magnetica dipende dall'estensione della parte del corpo da esaminare ma può essere anche di 40-45 minuti. Molti possono trovarsi in difficoltà a mantenersi immobili, come richiesto perché l'esame riesca bene, per tutto il tempo.
    Si può però chiedere a chi la esegue di sgranchirsi un po' tra una sequenza e l'altra.
</p>
<h3>Preparazione</h3>
<ul>
    <li>Non e' necessario rimanere a digiuno</li>
    <li>Presentarsi all'esame senza piercing, orecchini</li>
    <li>
        Si raccomanda di portare tutta la documentazione clinica e radiologica in possesso
    </li>
</ul>
<h3>Effetti collaterali</h3>
<p>
    In presenza di una delle seguenti controindicazioni o in caso di dubbi contattare il proprio Medico Curante:
</p>
<ul>
    <li>
        presenza di elementi all'interno del corpo: pace maker, neurostimolatore, pompa ad infusione, schegge metalliche, pallini da caccia, corpi estranei metallici, anamnesi di esposizione professionale a metalli, fratture trattate con mezzi di sintesi metallici,
        protesi (anca, ginocchio, spalla, gomito, apparato urogenitale....), apparecchi ortodontici fissi, protesi acustiche interne fisse, impianti cocleari, protesi ossiculari, cristallino artificiale, clips metalliche inserite in seguito ad interventi
        chirurgici (es.interventi in videolaparoscopia, interventi su cuore, addome,....).
    </li>
    <li>Stato di gravidanza</li>
    <li>Presenza di allergie</li>
</ul>