<h2>Servizi forniti dal nostro ospedale</h2>
<p>
    Nel nostro ospedale diamo la possibilità di effettuare diverse tipologie di esami oltre ai più comuni, tra i quali:
    <ul>
        <li>
            <a href="./risonanza_magnetica.html">Risonanza magnetica</a>
        </li>
        <li>
            <a href="./tac.html">TAC</a>
        </li>
        <li>
            <a href="./eeg.html">Elettroencefalogramma (EEG)</a>
        </li>
    </ul>

</p>