<h2 style="text-align: center">Tomografia assiale computerizzata - TAC</h2>
<p>
    Dottori abilitati: Marco Menghi, Lorenzo Stani, Rosalba Deloco
    <br /> Primari per lettura del referto: Lisa Polutto, Giovanni Gunni, Lillo Piloti
</p>
<h3>Descrizione</h3>
<p>
    La Tomografia Computerizzata rappresenta oggi lo strumento maggiormente usato nella diagnostica per immagini per individuare in maniera tempestiva e precoce patologie che sfuggirebbero ad altri metodi di controllo. <br /> Specie in ambito oncologico,
    questo esame risulta essere attualmente la metodica più affidabile e precisa per rintracciare formazioni neoplastiche anche millimetriche e dà quindi la possibilità, vista l’immediatezza del riscontro, di curare in anticipo le patologie e predisporre
    la terapia più idonea per ogni singolo paziente. Quando effettuata con contrasto indaga a fondo disturbi cronici, infiammatori o oncologici presenti nei diversi apparati e organi del nostro corpo. <br /> Grazie a questi mezzi di contrasto è possibile,
    per esempio, ottenere immagini puntuali di cervello, addome, torace e pelvi. La TC con mezzo di contrasto trova ampio utilizzo nello studio analitico di patologie neoplastiche, neurologiche, cardiovascolari, muscoloscheletriche e ortopediche. Oltre
    a questi campi tradizionali di impiego, è molto utilizzata anche in situazioni cliniche di emergenza come emorragie ed ischemie cerebrali, aneurismi addominali e toracici, embolie polmonari, traumi di vario genere. <br /> Grazie ai recenti sviluppi,
    si ricorre alla TC anche per le indagini sui vasi sanguigni, sui bronchi e sulle strutture cardiache interne.
</p>
<h3>Funzionamento</h3>
<p>
    Durante una TC l’energia trasferita dal campo magnetico e rilasciata dal tubo radiogeno attraversa il corpo del paziente e viene assorbita da sensori in grado di mandare un segnale elettrico. Tale segnale viene elaborato attraverso un sistema articolato
    di algoritmi che, al termine dell’operazione, fornisce l’immagine dettagliata della parte del corpo oggetto di studio. Per poter ottenere informazioni su determinate aree del corpo è necessario radiografare la sezione da più angolazioni.
</p>
<h3>Durata</h3>
<p>
    La durata di una TC varia a seconda della parte del corpo esaminata e dal tipo di sospetto diagnostico che si vuole confermare. In ogni caso la durata copre un arco temporale che oscilla tra i 4 e i 10 minuti.
</p>
<h3>Preparazione</h3>
<ul>
    <li>
        E' preferibile che il paziente sia a digiuno per almeno sei ore prima dell’esame.
    </li>
    <li>
        Presentarsi all'esame senza piercing, orecchini e qualsiasi altro accessorio
    </li>
    <li>
        Si raccomanda di portare tutta la documentazione clinica e radiologica in possesso
    </li>
</ul>
<h3>Effetti collaterali</h3>
<p>
    La TC con mezzo di contrasto non comporta in genere effetti collaterali. Al momento dell’esame, il paziente può:
</p>
<ul>
    <li>
        avvertire una sensazione di forte calore in tutto il corpo, ma solo per breve tempo.
    </li>
    <li>
        manifestarli (raramente) se affetto da patologie croniche che espongono a un maggior rischio di complicanze, soprattutto a carico dei reni: diabete, insufficienza renale, insufficienza epatica e mieloma.
    </li>
</ul>