<div class="topnav" id="myTopnav">
    <a href="./homepage.html">Home</a>
    <a href="./contatti.html">Contatti</a>
    <a href="./avvisi.html">Avvisi</a>
    <a href="http://{ip}:{port}/orari.pdf" download="orari.pdf">Orari sportello pagamenti</a>
    <a href="./logout.html">Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>